<div class="footerContainer">

  <div class="footer">
    <div>
      <span style="font-size: 1.5em; font-weight: bold;">Legal</span>
      <br>
      <br>
        <a href="/privacy-policy">Privacy Policy</a>
        <br>
        <br>
        &copy; SoundScale 2021
    </div>
    <div>
      <span style="font-size: 1.5em; font-weight: bold;">Code</span>
      <br>
      <br>
        <span>This project is <b>open source</b> and made with love by <br>
        <a target="_blank" href="https://github.com/Joshua-Zou">Joshua Zou</a> & 
        <a href="https://github.com/joahie" target="_blank">Joshua Ren</a>.
        </span>
        <br>
        <br>
        <span>
        Find all the source code for this project <a href="https://github.com/joshua-zou/ecohack" target="_blank">here</a>.
        </span>
    </div>

    <div>
      <span style="font-size: 1.5em; font-weight: bold;">Pages</span>
      <br>
      <br>
        <a href="/#about">About</a>
        <br>
        <br>
        <a href="/maps">Maps</a>
        <br>
        <br>
        <a href="/#home">Home</a>
        <br>
        <br>
    </div>
    <div>
      <span style="font-size: 1.5em; font-weight: bold;">Utility</span>
      <br>
      <br>
      <a href="#top">Back to top</a>
        <br>
        <br>
    </div><br>
          
  </div>


</div>
<style>
body {
    scroll-behavior: smooth;
}
.footer {
  color: white !important; 
  padding-top: 50px;
  background-color: #111c31;
  width: 100vw;
  padding-bottom: 100px;
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.footer div {
  margin-left: 100px;
  display: inline-table;
  margin-top: 30px;
  text-align: left;
}
.footer a {
  color: white;
  border-bottom: white solid 1px
}
</style>