<!DOCTYPE html>
<html lang="en">

<head>
<meta name="description" content="Decentralized noise pollution data for everyone">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>SoundScale</title>
	<link href="/css/stylesheet.css" rel="stylesheet" type="text/css" />
	<link href="/css/home.css" rel="stylesheet" type="text/css" />
	<link rel="icon" href="images/favicon.png">

</head>

<body>
  <%- include('partials/header.ejs') %>

     <div class="body">
         <section id = "intro">
          <span id = "decentralizedData"> 
          <h1>Decentralized <br>Pollution <br>Data</h1>
          </span>
            
        </section>       
      
        <section id = "about">
          <h1>Frequently Asked Questions</h1><!-- (B) THE HTML -->
<div class="wrap-table"><span id = "accordion1"><details>
  <summary>What is noise pollution?</summary>
  <div class="content">
    <p>Noise pollution is any man-made noise that is harmful to humans and the nature they're surrounded by. It can range from construction sites to airplanes and all the way to traffic.</p>
  </div>
</details> </span>
 <span id = "accordion2">
<details>
  <summary>How does noise pollution affect wildlife?</summary>
  <div class="content">
    <p>National Geographic says <i>"Animals use sound for a variety of reasons, including to navigate, find food, attract mates, and avoid predators. Noise pollution makes it difficult for them to accomplish these tasks, which affects their ability to survive."</i> Noise pollution makes things extremely hard for animals, and must be fought.</p>
  </div>
</details></span>
</div>

<div class="wrap-table"><span id = "accordion1">
<details>
  <summary>How does noise pollution affect humans?</summary>
  <div class="content">
    <p>Medical News Today reports that <i>"With continued exposure to noise pollution, a person’s sensitivity to stress increases. People living with noise pollution may feel irritable, on edge, frustrated, or angry. If a person feels they cannot control the amount of noise in their environment, its impact on their mental health intensifies."</i> It also hurts children. Medical News Today goes on to state that children exposed to more than 8 hours of noise pollution each day experience permanent hearing problems.</p>
  </div>
</details> </span>
 <span id = "accordion2">


<details>
  <summary>What is SoundScale?</summary>
  <div class="content">
    <p>SoundScale uses crowdsourcing to combat noise pollution by informing everyone about how much noise pollution there is across the globe. The concept is simple; anybody can submit data on how many decibels (a measurement for noise) of noise pollution they're experiencing. The website automatically detects their location and logs the data into our database. Users can view the gathered data on the <a href = "https://ecohack.joshuazou.repl.co/maps?year=2021" rel="noreferrer">map</a>, where it gives comprehensive information on noise pollution across the globe. This map will be of great use to environmental groups, who will know where to focus their pollution reduction efforts. It can also be used to educate everyone on the widespread effects of noise pollution. </p>
  </div>
</details></span>
</div>

        </section>
       
        <section id = "slideshow">
    <div class="slideshow-container">
  <div class="mySlides fade">
    <img src="/images/bat.jpeg" alt="bat image" style="width:100%">
    <div class="text" id = "dolphin">Bats use their sense of hearing to hunt (echolocation), and noise pollution makes it harder for them to find food.</div>
  </div>

  <div class="mySlides fade">
    <img src="/images/orca.jpeg" alt="orca image" style="width:100%">
    <div class="text" id = "dolphin">Noises from boats make it near impossible for Orcas to communicate, and it often sends them into dissaray and <br>scatters their packs.</div>
  </div>

  <div class="mySlides fade">
    <img src="/images/bird.jpeg" alt="bird image" style="width:100%">
    <div class="text" id = "dolphin">Many songbirds that mate through singing are having difficulty finding mates because of loud noises.</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex); // Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}</script>
        </section>

        <section id = 'contact'>
      <h1>Contact</h1>
      <form action="https://getform.io/f/830e2aab-0700-413e-aeb5-dbc9075fd9a7" method="POST">
<textarea name = "name" id = "name" rows = '1' cols = '30' placeholder="Name" required></textarea>  
<textarea name = "email" id = "email" rows = '1' cols = '30' placeholder="Email" required></textarea>  


        <br>

     <br>
        <textarea name = "askme" id = "askme" rows = '5' cols = '64.5' placeholder="Ask us any questions you have!" required></textarea>
        <br>
        <br><br>
        <input alt="Submit!" type="image" src="/images/submit.png" id="submit"/>

      </form>
      <br><br>
     

    </section>
      
      
      </div>
      <%-include('./partials/footer.ejs')%>
  </body>
</html>

<script>
  document.body.addEventListener("click", function(event){
    if (document.getElementById("navbar-content").contains(event.target) || document.querySelector("nav").contains(event.target)) return;
    document.getElementById("navbar-content").classList.add("navbar-hidden")
    document.querySelector(".wavesDivider").classList.remove("opaque")
  })
</script>