<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>SoundScale</title>
	<link href="/css/stylesheet.css" rel="stylesheet" type="text/css" />
	<link href="/css/home.css" rel="stylesheet" type="text/css" />
	<link rel="icon" href="images/logo.png">

</head>

<body>
  <%- include('partials/header.ejs') %>

     <div class="body">
         <section id = "intro">
          <span id = "decentralizedData"> 
          <h1>Decentralized <br>Pollution <br>Data</h1>
          </span>
            
        </section>       
      
        <section id = "about">
          <h1>About</h1>
          
        
        </section>
      
      
      </div>
      <%-include('./partials/footer.ejs')%>
  </body>
</html>

<script>
  document.body.addEventListener("click", function(event){
    if (document.getElementById("navbar-content").contains(event.target) || document.querySelector("nav").contains(event.target)) return;
    document.getElementById("navbar-content").classList.add("navbar-hidden")
    document.querySelector(".wavesDivider").classList.remove("opaque")
  })
</script>