<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Maps | Sound Scale</title>
  <meta name="author" content="Sound Scale">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	<link rel="icon" href="images/favicon.png">

  <link rel="stylesheet" href="/css/stylesheet.css">

</head>

<body>

  <%- include('partials/header.ejs') %>

<div class="body">

    <div class="themeSwitch">
    <span>Light Theme</span>
      <label class="switch">
      <input type="checkbox" onchange="changeTheme()">
      <span class="slider round"></span>
      </label>
    <span>Dark Theme</span>
    </div>

    <div id="map">
      <img src="/images/loading.gif">
    </div>
      <script src="/js/homepage.js"></script>

<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYBPjnFRhe_EUGI69aKW9mNSSshtK2G7U&callback=initMap&libraries=visualization&v=weekly&channel=2"></script>


<script>
  window.currentYearlookup = `<%-year%>`
</script>
<script src="/js/postData.js"></script>
</div>
      <%-include('./partials/footer.ejs')%>


</body>
</html>

<style>
.themeSwitch span {
  transform: translateY(-6px);
}
.themeSwitch {
    transform: translateY(10px);
    right: 60px;
    border-radius: 10px;
    padding: 5px 20px;
    padding-top: 15px;
    background-color: white;
    z-index: 100;
    position: absolute;
}

.switch {
  z-index: 101;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

</style>