*{
  margin: 0px;
}
html {
  font-family: Ambit,Helvetica,Arial,sans-serif;

}

.body {
  margin-top: 80px;
  scroll-behavior: smooth;
}
#map {
  height: 90vh;
}
.footer a{
  text-decoration: underline;
}


